    <!-- Sidebar Start -->
    <aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div>
        <div class="brand-logo d-flex align-items-center justify-content-between">
            <a href="#" class="text-nowrap logo-img">
                <img src="{{asset('assets/images/logos/logo.png')}}" width="100" alt=""/> 
            </a>
            <strong style="color : green; font-size : 18px; font-weight: 700; letter-spacing: 1px; text-decoration: underline; text-shadow 2px 2px 4px rgba(0,0,0,0,3);">
                SGP MELAKY
            </strong>
            <div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
                <i class="ti ti-x fs-6"></i>
            </div>
        </div>
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
        <ul id="sidebarnav">
            <li class="nav-small-cap">
                <i class="ti ti-menu"></i>
                <span class="hide-menu">Menu</span>
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link" 
                href="" aria-expanded="false">
                    <i class="ti ti-home"></i>
                    <span class="hide-menu">Tableau de board</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link " 
                href="" aria-expanded="false">
                    <i class="ti ti-badge"></i>
                    <span class="hide-menu">Statut employé</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link " href="" aria-expanded="false">
                    <i class="ti ti-chart-line"></i>
                    <span class="hide-menu">Indice</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link " href="" aria-expanded="false">
                    <i class="ti ti-id-badge"></i>
                    <span class="hide-menu">Poste</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link " href="" aria-expanded="false">
                    <i class="ti ti-plus"></i>
                    <span class="hide-menu">Indamnité</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link " href="" aria-expanded="false">
                    <i class="ti ti-user"></i>
                    <span class="hide-menu">Employé</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link justify-content-between has-arrow" href="javascript:void(0)" aria-expanded="false">
                    <div class="d-flex align-items-center gap-3">
                        <span class="d-flex">
                            <i class="ti ti-layout-grid"></i>
                        </span>
                        <span class="hide-menu">Etat de paie</span>
                    </div>
                </a>
                <ul aria-expanded="false" class="collapse first-level">
                    <li class="sidebar-item">
                        <a class="sidebar-link justify-content-between"  
                            href="">
                            <div class="d-flex align-items-center gap-3">
                                <div class="round-16 d-flex align-items-center justify-content-center">
                                    <i class="ti ti-circle"></i>
                                </div>
                                <span class="hide-menu">Chef de service</span>
                            </div>
                        </a>
                    </li>
                </ul>
            </li>    
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
    </aside>
    <!--  Sidebar End -->